<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')%>
    <link rel="stylesheet" href="css/productDetail.css">
    <title>Creacion Productos</title>
</head>
<body>
<header>
    <%-include('../partials/header')%>
</header>
<main>
    <h1>FORMULARIOS</h1>
    <h1>FORMULARIOS</h1>
    <h1>FORMULARIOS</h1>
    <h1>FORMULARIOS</h1>
    <h1>FORMULARIOS</h1>
    <h1>FORMULARIOS</h1>
    <h1>FORMULARIOS</h1>

</main>

<footer>
    <%-include('../partials/footer')%>
</footer>
</body>
</html>