<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("../partials/head")%>
    <link rel="stylesheet" href="css/index.css">
    <title>WoodStack</title>
</head>
<body>

    <%-include('../partials/header')%>

<main>
    <div class="first-banner">
        <article class="banner-text">
            <p class="banner-title">Escritorios de alta gama</p>
            <p class="banner-subtitle">Disponibles en roble y topinambur</p>
            <span><a href="#" class="banner-link">MÁS INFO</a></span>
        </article>
    </div>
    <div class="section-two">
        <article>
            <p class="index-title">Estilo que inspira</p>
            <p class="index-subtitle">Armá tu ambiente de trabajo de ensueños y desarrollá tu potencial</p>
            <a href="#" class="banner-link">EMPEZÁ</a>
        </article>
        <div class="product-container">
            <div>   
                <img class="product-img" alt="Escritorios" src="/images/desktop-img.webp">
                <p>Escritorios</p>
                <a href="#">MÁS INFO</a>
            </div>
            <div>   
                <img class="product-img" alt="Soportes Laptop" src="/images/stands-img.webp">
                <p>Soportes Laptop</p>
                <a href="#">MÁS INFO</a>
            </div>     
        </div>
    </div>
    <div>
        <div>
            <p class="index-title">Productos destacados</p>
            <p class="index-subtitle">Explorá las últimas tendencias en espacios de trabajo</p>
        </div>
    </div>
    <div>
        <div>
            <!-- Acá van las imágenes en carrousel -->
            <section>
                <a href="#">
                    <figure>
                        <img>Acá van las imágenes en carrousel
                    </figure>
                </a>
            </section>

        </div>

    </div>
</main>

    <%-include('../partials/footer')%>

</body>
</html>