<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@300&family=Open+Sans:wght@300;600;700&family=Roboto:wght@300;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/productDetail.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="https://kit.fontawesome.com/a7b565572d.js" crossorigin="anonymous"></script>
    <title>WS ProductDetail</title>
</head>
<body>
    <%-include('../partials/header')%>
<main>
    <div class="img-producto">
        <img class="img" src="/images/escritorio2.webp" alt="banner">
        <h2>Wood Suaveus</h2>
    </div>

    <div class="descripcion-producto">
        <h2>Escritorio Wood Suaveus</h2>
        <h4>Soft Mate</h4>
        <h4 class="precio">$220</h4>
    </div>
    <div class="cont-boton">
    <button class="boton" type="añadirCarrito" value="añadirCarrito"><a class="botonComprar" href="./productCart">Comprar</a>
        </button>            
    </div>
    <div class="detalle">
        <h2>Diferencie su espacio de trabajo</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quae obcaecati dolorum perspiciatis vitae non assumenda dignissimos reprehenderit, illo suscipit eveniet adipisci esse aliquam doloribus blanditiis temporibus autem eaque inventore?</p>
    </div>
    <div class="img-producto2">
        <img class="img2" src="/images/escritorio2.webp" alt="escritoriofoto">
        <h2>Wood Suaveus</h2>
    </div>
    <div class="segundoDetalle">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corporis esse architecto qui rem obcaecati accusamus vero sit deleniti, delectus doloremque consequuntur cupiditate reprehenderit perspiciatis tempora velit! Sint, mollitia soluta.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores, amet illum! Architecto consectetur natus tempore! Quisquam, delectus deserunt. Nesciunt, facilis nihil. Voluptatum culpa ex nemo temporibus? Soluta corporis fugit maiores.</p>
    </div>
</main>

<%-include('../partials/footer')%>

</body>
</html>