<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')%>
    <link rel="stylesheet" href="css/productCart.css">
    <title>ProductCart</title>
</head>
<body>
    <%-include('../partials/header')%>

    <main>
        <section class="carritovacio container hide">
            <h1>Mi carrito</h1>
            <p>Tu carrito está vacío</p>
            <a href="/">Regresar a la tienda</a>
        </section>

        <section class="carritoProducto container show">
            <h2>Mi carrito</h2>
            <a href="/" class="botonFinalizar">Finalizar compra</a>
            <ul class="productList">
                <li class="item">
                    <a href="/productDetail" class="link"><img src="/images/escritorio2.webp" alt="Escritorio chido" /></a>
                    <div class="information">
                        <div class="hijo1">
                            <a href="/productDetail"><h2>Wood Suaveus</h2></a>
                            <ol class="features">
                                <li>Material</li>
                                <li>Tamaño del Producto</li>
                            </ol>
                            <div class="cantidad">
                                <p>Cantidad:</p>
                                <p>1</p>
                            </div>
                            <div class="entregation">
                                <p>Fecha de entrega:</p>
                                <p>XX/XX/XXXX</p>
                            </div>
                        </div>
                        <div class="caja">
                            <h3 class="precioeishon">$$$$</h3>
                            <a href="/" class="removereishon">Remover</a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="subtotaleishon">
                <p>Subtotal</p>
                <p class="dinereishon">$$$$</p>
            </div>
            <a href="/" class="botonFinalizar">Finalizar compra</a>
        </section>
    </main>
    <%-include('../partials/footer')%>

    
</body>
</html>