<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@300&family=Open+Sans:wght@300;600;700&family=Roboto:wght@300;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://kit.fontawesome.com/a7b565572d.js" crossorigin="anonymous"></script>

    <title>WoodStack</title>
</head>
<body>
<header>
    <nav class="nav-bar">
        <div class="left-bar">
            <a href="#" class="hamburger-btn">
                <i class="fas fa-bars"></i>
            </a>
            <ul>
                <li><a href="#">COMPRAR</a></li>
                <li><a href="#">EXPLORAR</a></li>
            </ul>
        </div>

        <div class="center-bar">
            WOODSTACK
        </div>

        <div class="right-bar">
            <ul>
                <li><a href="#">MI CARRITO</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="first-banner">
        <article class="banner-text">
            <p class="banner-title">Escritorios de alta gama</p>
            <p class="banner-subtitle">Disponibles en roble y topinambur</p>
            <span><a href="#" class="banner-link">MÁS INFO</a></span>
    </article>
    </div>

</main>
<footer>

</footer>
</body>
<main>
<p>ESTE ES EL MAIN</p>
</main>
<footer>

</footer>
</html>