<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://kit.fontawesome.com/a7b565572d.js" crossorigin="anonymous"></script>

    <title>WoodStack</title>
</head>
<body>
<header class="nav-bar">
    <a href="#" class="hamburger-btn">
        <i class="fas fa-bars"></i>
    </a>
    
    <div class="left-bar">
        <ul>
            <li><a href="#">COMPRAR</a></li>
            <li><a href="#">EXPLORAR</a></li>
        </ul>
    </div>

    <div class="main-title">
        <p>WOODSTACK<p>
    </div>

    <div class="right-bar">
        <ul>
            <li><a href="#">MI CARRITO</a></li>
        </ul>
    </div>
</header>
<main>
    <div>ESTE ES EL BODY</div>

</main>
<footer>

</footer>
</body>
</html>