<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/login.css">
    <title>Woodstack | Iniciar Sesion</title>
</head>
<body>
    <header>
      <nav class="nav-bar">
        <div class="left-bar">
            <a href="#" class="hamburger-btn">
                <i class="fas fa-bars"></i>
            </a>
            <ul>
                <li><a href="#">COMPRAR</a></li>
                <li><a href="#">EXPLORAR</a></li>
            </ul>
        </div>

        <div class="center-bar">
            WOODSTACK
        </div>

        <div class="right-bar">
            <ul>
              <li><a href="#">
                <i class="fas fa-shopping-cart"></i>
                MI CARRITO</a></li>
            </ul>
        </div>
    </nav>
        
        
    </header>
    <main>

    <div class="first-banner"></div>
        <div class="tarjeta">
            <h1>Iniciar Sesion</h1>
            <form method="post">
              <div class="campo">
                <input type="text" required>
                <span></span>
                <label>Usuario</label>
              </div>
              <div class="campo">
                <input type="password" required>
                <span></span>
                <label>Contraseña</label>
              </div>
              <div class="pass">Olvidó su contraseña?</div>
              <input type="submit" value="Iniciar Sesion">
              <div class="registrarse">
                No es miembro?<a href="#">Registrarse</a>
              </div>
            </form>
          </div>
    </main>
    <footer>
      <div class="gral">
      <div class="tarjeta-footer">
          <h2 class="titulo">Enterate de lo Nuevo</h2>
          <form method="post">
            <div class="campo-footer">
              <input class="email" type="email" placeholder="email" required>
              <span></span>
              <input type="submit" value="Registrarse" id="btn-register">
            </div>
          </form>
          
        </div>
  
        <div class="footer1">
            <ul>
                <li><a href="#">Tienda</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Soporte</a></li>
                <li><a href="#">Estado de su orden</a></li>
                <li><a href="#">Ventas corporativas</a></li>
            </ul>
        </div>
        <div class="footer-legal">
          <p>2021 - Copyright Woodstack</p>
          <p>Terminos y Condiciones</p>
          <p>Política de privacidad</p>
       </div> 
      </div> 
  </footer>
</body>
</html>