<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/productCart.css">
    <title>ProductCart</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a7b565572d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="left-bar">
                <a href="#" class="hamburger-btn">
                    <i class="fas fa-bars"></i>
                </a>
                <ul>
                    <li><a href="#">COMPRAR</a></li>
                    <li><a href="#">EXPLORAR</a></li>
                </ul>
            </div>
    
            <div class="center-bar">
                WOODSTACK
            </div>
    
            <div class="right-bar">
                <ul>
                    <li><a href="#">
                        <i class="fas fa-shopping-cart"></i>
                        MI CARRITO</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section>
        <section class="carritovacio container hide">
            <h1>Mi carrito</h1>
            <p>Tu carrito está vacío</p>
            <a href="/">Regresar a la tienda</a>
        </section>

        <section class="carritoProducto container show">
            <h2>Mi carrito</h2>
            <a href="/" class="botonFinalizar">Finalizar compra</a>
            <ul class="productList">
                <li class="item">
                    <a href="/productDetail" class="link"><img src="/images/escritorio2.webp" alt="Escritorio chido" /></a>
                    <div class="information">
                        <div>
                            <a href="/productDetail"><h2>Wood Suaveus</h2></a>
                            <ol class="features">
                                <li>Material</li>
                                <li>Tamaño del Producto</li>
                            </ol>
                            <div class="cantidad">
                                <p>Cantidad:</p>
                                <p>1</p>
                            </div>
                            <div class="entregation">
                                <p>Fecha de entrega:</p>
                                <p>XX/XX/XXXX</p>
                            </div>
                        </div>
                        <div class="caja">
                            <h3 class="precioeishon">$$$$</h3>
                            <a href="/" class="removereishon">Remover</a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="subtotaleishon">
                <p>Subtotal</p>
                <p class="dinereishon">$$$$</p>
            </div>
            <a href="/" class="botonFinalizar">Finalizar compra</a>
        </section>
    </section>
    <footer><div class="gral">
        <div class="tarjeta">
            <h2 class="titulo">Enterate de lo Nuevo</h2>
            <form method="post">
              <div class="campo">
                <input class="email" type="email" placeholder="email" required>
                <span></span>
                <input type="submit" value="Registrarse">
              </div>
            </form>
            <div class="footer-legal">
                <p>2021 - Copyright Woodstack</p>
                <p>Terminos y Condiciones</p>
                <p>Política de privacidad</p>
            </div> 
          </div>
    
          <div class="footer1">
              <ul>
                  <li><a href="#">Tienda</a></li>
                  <li><a href="#">Nosotros</a></li>
                  <li><a href="#">Soporte</a></li>
                  <li><a href="#">Estado de su orden</a></li>
                  <li><a href="#">Ventas corporativas</a></li>
              </ul>
          </div>
    
          <!-- <div class="div1">
    
          </div>
          <div class="div2">
    
          </div>
          <div class="div3">
    
          </div>
        </div> -->
    </footer>
    
</body>
</html>