<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/productDetail.css">
    <script src="https://kit.fontawesome.com/a7b565572d.js" crossorigin="anonymous"></script>
    <title>WS ProductDetail</title>
</head>
<body>

    <header>
        <nav class="nav-bar">
            <div class="left-bar">
                <a href="#" class="hamburger-btn">
                    <i class="fas fa-bars"></i>
                </a>
                <ul>
                    <li><a href="#">COMPRAR</a></li>
                    <li><a href="#">EXPLORAR</a></li>
                </ul>
            </div>
    
            <div class="center-bar">
                WOODSTACK
            </div>
    
            <div class="right-bar">
                <a href="#" class="carrito">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                <ul>
                    <li><a href="#">MI CARRITO</a></li>
                </ul>
            </div>
        </nav>

    <!-- <nav class="nav"> -->
            <!-- cuando es movvil Comprar y Epxlorar es un Burguer Buton -->
            <!-- Nav Fixed arriba -->
            <!-- <ul class="navbar">
                <li><a href="#"></a>Comprar</a></li>
                <li><a href="#"></a>Explorar</a></li>
            </ul>
            <ul class="navbar-center">
                <li><a href="#"></a>Woodstack</a></li>
            </ul>
            <ul class="navbar-right">
                <li><a href="#"></a>Mi Carrito</a></li>
            </ul> -->
    <!-- </nav> -->
</header>

<main>
    <div class="img-producto">
        <img class="img" src="/images/escritorio2.webp" alt="banner">
        <h2>Wood Suaveus</h2>
    </div>

    <div class="descripcion-producto">
        <h2>Escritorio Wood Suaveus</h2>
        <h4>Soft Mate</h4>
        <h4 class="precio">$220</h4>
    </div>
    <div class="cont-boton">
    <button class="boton" type="añadirCarrito" value="añadirCarrito">Comprar</button>            
        </button>
    </div>
    <div class="detalle">
        <h2>Diferencie su espacio de trabajo</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quae obcaecati dolorum perspiciatis vitae non assumenda dignissimos reprehenderit, illo suscipit eveniet adipisci esse aliquam doloribus blanditiis temporibus autem eaque inventore?</p>
    </div>
    <div class="img-producto2">
        <img class="img2" src="/images/escritorio5.webp" alt="escritoriofoto">
        <h2>Wood Suaveus</h2>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corporis esse architecto qui rem obcaecati accusamus vero sit deleniti, delectus doloremque consequuntur cupiditate reprehenderit perspiciatis tempora velit! Sint, mollitia soluta.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda molestias distinctio repudiandae qui animi aspernatur natus minus debitis est, nam eveniet! Dicta esse voluptatibus, totam aperiam veritatis ullam ipsa perspiciatis.</p>
</main>

<footer><div class="gral">
    <div class="tarjeta">
        <h2 class="titulo">Enterate de lo Nuevo</h2>
        <form method="post">
          <div class="campo">
            <input class="email" type="email" placeholder="email" required>
            <span></span>
            <input type="submit" value="Registrarse">
          </div>
        </form>
        <div class="footer-legal">
            <p>2021 - Copyright Woodstack</p>
            <p>Terminos y Condiciones</p>
            <p>Política de privacidad</p>
        </div> 
      </div>

      <div class="footer1">
          <ul>
              <li><a href="#">Tienda</a></li>
              <li><a href="#">Nosotros</a></li>
              <li><a href="#">Soporte</a></li>
              <li><a href="#">Estado de su orden</a></li>
              <li><a href="#">Ventas corporativas</a></li>
          </ul>
      </div>

      <!-- <div class="div1">

      </div>
      <div class="div2">

      </div>
      <div class="div3">

      </div>
    </div> -->
</footer>

</body>
</html>