<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/productDetail.css">
    <title>WS ProductDetail</title>
</head>
<body>
    <header>
    <nav class="nav">
            <!-- cuando es movvil Comprar y Epxlorar es un Burguer Buton -->
            <!-- Nav Fixed arriba -->
            <ul class="navbar-left">
                <li><a href="#"></a>Comprar</a></li>
                <li><a href="#"></a>Explorar</a></li>
            </ul>
            <ul class="navbar-center">
                <li><a href="#"></a>Woodstack</a></li>
            </ul>
            <ul class="navbar-right">
                <li><a href="#"></a>Mi Carrito</a></li>
            </ul>
    </nav>
    <div class="img-producto">
        <img class="img" src="/images/escritorio2.webp" alt="banner">
        <h2>Wood Suaveus</h2>
    </div>

    <div class="descripcion-producto">
        <h2>Escritorio Wood Suaveus</h2>
        <h4>Soft Mate</h4>
        <h4 class="precio">$220</h4>
    </div>
    <div class="cont-boton">
    <button class="boton" type="añadirCarrito" value="añadirCarrito">Comprar</button>            
        </button>
    </div>
</header>

<main>

    <div class="detalle">
        <h2>Diferencie su espacio de trabajo</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quae obcaecati dolorum perspiciatis vitae non assumenda dignissimos reprehenderit, illo suscipit eveniet adipisci esse aliquam doloribus blanditiis temporibus autem eaque inventore?</p>
    </div>
    <div class="img-producto2">
        <img class="img2" src="/images/escritorio5.webp" alt="escritoriofoto">
        <h2>Wood Suaveus</h2>
    </div>
</main>

    


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corporis esse architecto qui rem obcaecati accusamus vero sit deleniti, delectus doloremque consequuntur cupiditate reprehenderit perspiciatis tempora velit! Sint, mollitia soluta.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda molestias distinctio repudiandae qui animi aspernatur natus minus debitis est, nam eveniet! Dicta esse voluptatibus, totam aperiam veritatis ullam ipsa perspiciatis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi cum dolor saepe repudiandae impedit dolorem numquam aliquid non, assumenda amet optio, ipsum unde totam temporibus, vel alias facilis harum! Explicabo.</p>    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corporis esse architecto qui rem obcaecati accusamus vero sit deleniti, delectus doloremque consequuntur cupiditate reprehenderit perspiciatis tempora velit! Sint, mollitia soluta.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda molestias distinctio repudiandae qui animi aspernatur natus minus debitis est, nam eveniet! Dicta esse voluptatibus, totam aperiam veritatis ullam ipsa perspiciatis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi cum dolor saepe repudiandae impedit dolorem numquam aliquid non, assumenda amet optio, ipsum unde totam temporibus, vel alias facilis harum! Explicabo.</p>    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corporis esse architecto qui rem obcaecati accusamus vero sit deleniti, delectus doloremque consequuntur cupiditate reprehenderit perspiciatis tempora velit! Sint, mollitia soluta.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda molestias distinctio repudiandae qui animi aspernatur natus minus debitis est, nam eveniet! Dicta esse voluptatibus, totam aperiam veritatis ullam ipsa perspiciatis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi cum dolor saepe repudiandae impedit dolorem numquam aliquid non, assumenda amet optio, ipsum unde totam temporibus, vel alias facilis harum! Explicabo.</p>    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corporis esse architecto qui rem obcaecati accusamus vero sit deleniti, delectus doloremque consequuntur cupiditate reprehenderit perspiciatis tempora velit! Sint, mollitia soluta.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda molestias distinctio repudiandae qui animi aspernatur natus minus debitis est, nam eveniet! Dicta esse voluptatibus, totam aperiam veritatis ullam ipsa perspiciatis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi cum dolor saepe repudiandae impedit dolorem numquam aliquid non, assumenda amet optio, ipsum unde totam temporibus, vel alias facilis harum! Explicabo.</p>    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corporis esse architecto qui rem obcaecati accusamus vero sit deleniti, delectus doloremque consequuntur cupiditate reprehenderit perspiciatis tempora velit! Sint, mollitia soluta.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda molestias distinctio repudiandae qui animi aspernatur natus minus debitis est, nam eveniet! Dicta esse voluptatibus, totam aperiam veritatis ullam ipsa perspiciatis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi cum dolor saepe repudiandae impedit dolorem numquam aliquid non, assumenda amet optio, ipsum unde totam temporibus, vel alias facilis harum! Explicabo.</p>    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corporis esse architecto qui rem obcaecati accusamus vero sit deleniti, delectus doloremque consequuntur cupiditate reprehenderit perspiciatis tempora velit! Sint, mollitia soluta.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda molestias distinctio repudiandae qui animi aspernatur natus minus debitis est, nam eveniet! Dicta esse voluptatibus, totam aperiam veritatis ullam ipsa perspiciatis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi cum dolor saepe repudiandae impedit dolorem numquam aliquid non, assumenda amet optio, ipsum unde totam temporibus, vel alias facilis harum! Explicabo.</p>    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corporis esse architecto qui rem obcaecati accusamus vero sit deleniti, delectus doloremque consequuntur cupiditate reprehenderit perspiciatis tempora velit! Sint, mollitia soluta.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda molestias distinctio repudiandae qui animi aspernatur natus minus debitis est, nam eveniet! Dicta esse voluptatibus, totam aperiam veritatis ullam ipsa perspiciatis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi cum dolor saepe repudiandae impedit dolorem numquam aliquid non, assumenda amet optio, ipsum unde totam temporibus, vel alias facilis harum! Explicabo.</p>    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corporis esse architecto qui rem obcaecati accusamus vero sit deleniti, delectus doloremque consequuntur cupiditate reprehenderit perspiciatis tempora velit! Sint, mollitia soluta.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda molestias distinctio repudiandae qui animi aspernatur natus minus debitis est, nam eveniet! Dicta esse voluptatibus, totam aperiam veritatis ullam ipsa perspiciatis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi cum dolor saepe repudiandae impedit dolorem numquam aliquid non, assumenda amet optio, ipsum unde totam temporibus, vel alias facilis harum! Explicabo.</p>    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corporis esse architecto qui rem obcaecati accusamus vero sit deleniti, delectus doloremque consequuntur cupiditate reprehenderit perspiciatis tempora velit! Sint, mollitia soluta.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda molestias distinctio repudiandae qui animi aspernatur natus minus debitis est, nam eveniet! Dicta esse voluptatibus, totam aperiam veritatis ullam ipsa perspiciatis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi cum dolor saepe repudiandae impedit dolorem numquam aliquid non, assumenda amet optio, ipsum unde totam temporibus, vel alias facilis harum! Explicabo.</p>
    
</body>
</html>