<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="css/normalize.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/login.css">
    <title>Woodstack | Registrarse</title>
</head>
<body>
    <header>
      <nav class="nav-bar">
        <div class="left-bar">
            <a href="#" class="hamburger-btn">
                <i class="fas fa-bars"></i>
            </a>
            <ul>
                <li><a href="#">COMPRAR</a></li>
                <li><a href="#">EXPLORAR</a></li>
            </ul>
        </div>

        <div class="center-bar">
            WOODSTACK
        </div>

        <div class="right-bar">
            <ul>
                <li><a href="#">
                    <i class="fas fa-shopping-cart"></i>
                    MI CARRITO</a></li>
            </ul>
        </div>
    </nav>
        
        
    </header>
    <main>

    <div class="first-banner"></div>
        <div class="tarjeta">
            <h1>Registrarse</h1>
            <form method="post">
              <div class="campo">
                <input type="text" required>
                <span></span>
                <label>Usuario</label>
              </div>
              <div class="campo">
                <input type="password" required>
                <span></span>
                <label>Contraseña</label>
              </div>
              <div class="campo">
                <input type="password" required>
                <span></span>
                <label>Repetir Contraseña</label>
              </div>
              
              <input type="submit" value="Registrarse">
              
            </form>
          </div>
    </main>
    <footer>
        <article class="links-footer">
            <li><a href="#">Tienda</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">Estado de su orden</a></li>
        </article>
        <article class="redes">
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <p>©2021Woodstack | Todos los derechos reservados</p>
        </article>
       
    </footer>
</body>
</html>