.first-section {
    padding-top: 100px;
    margin: auto;
}



.card-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-right: 5%;
    padding-left: 5%;  
}

.product-card {
    margin: 5px;
}

.card {
    margin-bottom: 5%;
}


