* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    
}


body{
    background: #ffffff;
    color: #0d0d0d;
    min-width: 360px;

}

main{
    text-align: center;
    font-family: 'Prata', serif;
    
}

a:hover {
    text-decoration: none;
    color: inherit;
}