
/* Empieza Banner */
.first-banner {
    background-image: url(/images/index/desktop-img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20%;
    padding-bottom: 20%;
}

.banner-text {
    display: flex;
    flex-direction: column;
    z-index: 10;
    color: #ffffff;
    padding-top: 130px;
    font-weight: 500;
    font-size: 3rem;
}

.banner-title {
    font-size: 3rem;
    font-weight: 500;
}

.banner-subtitle {
    font-size: 1rem;    
}

.banner-link {
    font-size: 1rem;
    text-decoration: underline;
    color:#ffffff;
}

/* Termina BANNER */

/* Empieza SECTION TWO */

.section-two {
    background-color: #ffffff;
    color: #0d0d0d;
    margin: 0;
    padding: 100px 0 100px 0 
}

.index-title {
    font-size: 3rem;
    padding-bottom: 10px;
}

.index-subtitle {
    font-size: 1rem;
    color: #a0a0a0;

}

.product-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-container p{
    padding: 10px 0;
    font-size: 24px;
}

.product-container a{
    font-size: 1rem;
    text-decoration: underline;
    color: #0d0d0d;
}

.product-img {
    max-width: 100%;
}

.card-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-right: 5%;
    padding-left: 5%;  
}

.product-card {
    margin: 5px;
}

.second-banner {
    background-image: url("https://grovemade.imgix.net/https%3A%2F%2Fsiteleaf.grovemade.com%2Fuploads%2FbannerB-desk-collection-A1.jpg?auto=format&ixlib=python-1.1.2&w=1800&s=411dc819826aa4c9e9504d25e0795604"); 
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20%;
    padding-bottom: 20%;
    font-size: 3rem;
    margin-bottom: 5%;
}

.second-banner-text {
    padding-left: 20%;
    padding-right: 20%;
    color: #ffffff
}

.second-banner-title {
    font-size: 3rem;
}

.second-banner-subtitle {
    font-size: 1.5rem;
}


.banner-subtitle .section-three {
    font-size: 1rem;
    text-decoration: none;
}


.avatar{
    max-width: 10%;
    max-height: 10%;
    border-radius: 100%;
    position: relative;
    margin-left: auto; 
    margin-right: auto;
}

.avatarHeader{
    max-width: 2em;
    max-height: 2em;
    border-radius: 100%;
    position: relative;
    margin-left: auto; 
    margin-right: auto;
}


@media (min-width: 768px) {

    .product-container {
        flex-direction: row;
    }

}