/* Woodstack detalle producto */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #ffffff;
    color: #0d0d0d;
    font-family: 'Koh Santepheap';
    text-decoration: none;

}


.botonComprar {
    text-decoration: none;
    color: white;
}

.segundoDetalle{
    margin-top: 20px;
    padding: 0 15px;
}
.segundoDetalle p{
    margin-bottom: 20px;
    text-align: center;
}


.img{
    display: block;
    margin: auto;
    width: 55%;
    /* margin-top: 40px; */
}
.img-producto{
    position: relative;

}

.img-producto:hover h2{
    opacity: 1;

}

.img-producto h2{
    background:rgba(0, 0, 0, 0.6);
    color: white;
    margin: 0;
    padding: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 1s;
}

.descripcion-producto h2{
    text-align: center;
    margin-top: 30px;
}

.descripcion-producto h4{
    text-align: center;
    margin-top: 15px;
}

.cont-boton{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

}

.precio{
    font-family: bold;
    font-size: 15px;
}

div .boton{
    background: black;
    color: blanchedalmond;
    padding: 8px 65px;
    border: none;

}

.boton:hover{
    padding: 8px 150px;
    transition: 1s;
}

.detalle{
    background-color: whitesmoke;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.detalle p{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.detalle:hover{
    background-color: rgba(200, 200, 200, 0.5);
    transition: 1s;
}

.detalle h2{
    text-align: center;
    /* margin-top: 70px; */
    /* background: red; */
}

.img2{
    display: block;
    margin: auto;
    width: 50vh;
    height: 50vh;
    margin-top: 40px;

}
.img-producto2{
    position: relative;
}

.img-producto2:hover h2{
    opacity: 0.6;

}

.img-producto2 h2{
    background:rgba(0, 0, 0, 0.1);
    color: white;
    margin: 0;
    padding: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 1s;
}

@media (min-width: 361px){
    
    
}


