<footer>
  <div class="footer-content">
      <!-- footer links -->
      <ul class="footer-links">
          <li><a href="#">Tienda</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Soporte</a></li>
          <li><a href="#">Estado de su orden</a></li>
          <li><a href="#">Ventas corporativas</a></li>
      </ul>
      <!-- social media -->
      <ul class="socials">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-google"></i></a></li>
      </ul>
      <!-- copyright -->
  </div>
  <div class="tarjeta">
    <form method="post">
      <div class="campo">
        <input class="email" type="email" placeholder="email" required>
        <span></span>
        <input type="submit" value="Registrarse">
      </div>
    </form>
  </div>
  <div class="footer-bottom">
      <p>copiright &copy;2021 Woodstack. designed by <span> grupo-7</span></p>
  </div>
</footer>