<footer>
  <div class="container mt-0 pt-0">
      <div class="footer1">
          <ul>
              <li><a href="#">Tienda</a></li>
              <li><a href="#">Nosotros</a></li>
              <li><a href="#">Soporte</a></li>
              <li><a href="#">Estado de su orden</a></li>
              <li><a href="#">Ventas corporativas</a></li>
          </ul>
          <ol>
              <li><a href="http://facebook.com"><i class="fab fa-facebook-square"></i></a></li>
              <li><a href="http://instagram.com"><i class="fab fa-instagram-square"></i></a></li>
              <li><a href="http://twitter.com"><i class="fab fa-twitter-square"></i></a></li>
          </ol>
      </div>
      <div class="right">
      <div class="newsLetters">
          <h2 class="titulo">Enterate de lo Nuevo</h2>
          <form method="post">
              <div class="campo">
                  <input class="email" type="email" placeholder="email" required>
                  <a href="/register"class="botonFooter" type="submit" value="">Registrarse</a>
                  <!-- <input class="botonFooter" type="submit" value="Registrarse"> -->
              </div>
          </form>
      </div>
      <div class="footer-legal">
          <p>2021 - Copyright Woodstack</p>
          <a href="/"><p>Terminos y Condiciones</p></a>
          <a href="/"><p>Política de privacidad</p></a>
      </div> 
    </div>
</footer>