
<nav class="nav-bar">
    <div class="left-bar">
        <a href="#" class="hamburger-btn">
            <i class="fas fa-bars"></i>
        </a>
        <ul>
            <li><a href="products">COMPRAR</a></li>
            <li><a href="#">EXPLORAR</a></li>
        </ul>
    </div>
    
            <div class="center-bar">
                <a href="/">
            WOODSTACK
            </a>
            </div>
    
    <div class="right-bar">
        <a href="/products/productCart" class="carrito">
            <i class="fas fa-shopping-cart"></i>
        </a>
        <ul>
            <li><a href="/register">REGISTRARSE</a> </li>
            <li><a href="/login">INGRESAR</a> </li>
            <li><a href="/products/product-cart">MI CARRITO</a></li>
        </ul>
    </div>
</nav>