
<nav class="nav-bar">
    <div class="left-bar">
        <a href="#" class="hamburger-btn">
            <i class="fas fa-bars"></i>
        </a>
        <ul>
            <% if (locals.isLogged && locals.userLogged.is_admin === true) { %>   
            <li><a href="/products">COMPRAR</a></li>
            <li><a href="/products">EXPLORAR</a></li>
            <li><a href="/products/create">CREAR</a></li>
            <% } else { %>
            <li><a href="/products">COMPRAR</a></li>
            <li><a href="/products">EXPLORAR</a></li>
            <% } %>
        </ul>
    </div>
    
            <div class="center-bar">
                <a href="/">
            WOODSTACK
            </a>
            </div>
    
    <div class="right-bar">
        <a href="/products/productCart" class="carrito">
            <i class="fas fa-shopping-cart"></i>
        </a>
        <ul>
            <% if (locals.isLogged) { %>
            <!-- <li>(Avatar)</li> -->
            <!-- <img src="/images/avatars/avatarDefault.jpeg" alt="" class="avatarHeader"> -->
            <li>Hola <%= locals.userLogged.first_name %></li>
            <li><a href="/profile">PROFILE</a> </li>
            <li><a href="/logout">LOGOUT</a> </li>
            <% } else { %>
            <li><a href="/register">REGISTRARSE</a> </li>
            <li><a href="/login">INGRESAR</a> </li>
            <% } %>
            <li><a href="products/product-cart">MI CARRITO</a></li>
        </ul>
    </div>
</nav>