<header>
    <nav class="nav-bar">
        <div class="left-bar">
            <a href="#" class="hamburger-btn">
                <i class="fas fa-bars"></i>
            </a>
            <ul>
                <li><a href="./productCart">COMPRAR</a></li>
                <li><a href="#">EXPLORAR</a></li>
            </ul>
        </div>
        <a href="/">
             <div class="center-bar">
            WOODSTACK
             </div>
        </a>
        <div class="right-bar">
            <a href="./productCart" class="carrito">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <ul>
                <li><a href="./productCart">MI CARRITO</a></li>
            </ul>
        </div>
    </nav>
</header>