<header>
    <nav class="nav-bar">
        <div class="left-bar">
            <a href="#" class="hamburger-btn">
                <i class="fas fa-bars"></i>
            </a>
            <ul>
                <li><a href="#">COMPRAR</a></li>
                <li><a href="#">EXPLORAR</a></li>
            </ul>
        </div>

        <div class="center-bar">
            WOODSTACK
        </div>

        <div class="right-bar">
            <ul>
                <li><a href="#">
                    <i class="fas fa-shopping-cart"></i>
                    MI CARRITO</a></li>
            </ul>
        </div>
    </nav>
</header>