<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')%>
    <link rel="stylesheet" href="css/login.css">
    <title>Woodstack | Iniciar Sesion</title>
</head>
<body>
  <%-include('../partials/header')%>
    <main>

      <div class="first-banner"></div>
      <div class="tarjeta">
        <h1>Iniciar Sesion</h1>
        <form method="post">
          <div class="campo">
            <input type="text" required>
            <span></span>
            <label>Usuario</label>
          </div>
          <div class="campo">
            <input type="password" required>
            <span></span>
            <label>Contraseña</label>
          </div>
          <div class="pass">Olvidó su contraseña?</div>
          <input type="submit" value="Iniciar Sesion">
          <div class="registrarse">
            No es miembro?<a href="#">Registrarse</a>
          </div>
        </form>
      </div>
    </main>
    <%-include('../partials/footer')%>
</body>
</html>