<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')%>
    <link rel="stylesheet" href="css/login.css">
    <title>Woodstack | Iniciar Sesion</title>
</head>
<body>
  <%-include('../partials/header')%>
    <main>
<!-- ERRORES LOGIN -->
      <% if (typeof errors != 'undefined') { %>
        <p style="color: red">ERROR</p>
        <ul>
          <% for (let i = 0; i < errors.length; i++) { %>
            <li>
              <%=errors[i].msg%>
            </li>
            <% } %>
        </ul>
      <% } %>
<!-- FIN ERRORES LOGIN -->
      <div class="first-banner"></div>
      <div class="tarjeta">
        <h1>Iniciar Sesion</h1>
        <form method="POST" action="/login">
          <div class="campo">
            <!-- puedo cambiar el type a text para q no valide desde el Form -->
            <input type="email" name="email" required>
            <span></span>
            <label>Email</label>
          </div>
          <div class="campo">
            <input type="password" name="password" required>
            <span></span>
            <label>Password</label>
          </div>
          <div class="pass">Olvidó su contraseña?</div>
          <input type="submit" value="Iniciar Sesion">
          <div class="registrarse">
            No es miembro?<a href="#">Registrarse</a>
          </div>
        </form>
      </div>
    </main>
    <%-include('../partials/footer')%>
</body>
</html>