<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')%>
    <link rel="stylesheet" href="css/login.css">
    <title>Woodstack | Iniciar Sesion</title>
</head>
<body>
  <%-include('../partials/header')%>
    <main>
      <div class="first-banner"></div>
      <div class="tarjeta">
        <h1>Iniciar Sesion</h1>
        <form method="POST" action="/login">
          <div class="campo">
            <!-- puedo cambiar el type a text para q no valide desde el Form -->
            <input type="email" name="email" required>
            <% if (locals.errors && errors.email) { %>
              <div class="text-danger"> 
              <%= errors.email.msg %>
            </div>
            <% } %>
            
            <!-- mostrar errores del front en Span -->

            <span class="spanEmailLogin"></span>
            <label>Email</label>
          </div>
          <div class="campo">
            <input type="password" name="password" required>
            <span></span>
            <label>Password</label>
          </div>
          <div class="pass">Olvidó su contraseña?</div>
          <input type="submit" value="Iniciar Sesion">
          <div class="registrarse">
            No es miembro?<a href="#">Registrarse</a>
          </div>
        x|
        </form>
      </div>
    </main>
    <%-include('../partials/footer')%>
</body>
</html>