<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("../partials/head")%>
    <link rel="stylesheet" href="css/index.css">
    <title>WoodStack</title>
</head>
<body>

    <%-include('../partials/header')%>

<main>
    <div class="first-banner">
        <article class="banner-text">
            <p class="banner-title">WoodStack - Nuestra historia</p>
        </article>
    </div>
    <div class="section-two">
        <article>
            <p class="index-title">WoodStack - Nuestra historia es tu historia</p>
            <p class="index-subtitle">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem eligendi cumque earum ratione. Provident praesentium, velit voluptates reprehenderit ipsa sint! Mollitia doloremque fugit quia totam labore consequatur neque sapiente autem.</p>
            <p class="index-subtitle">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem eligendi cumque earum ratione. Provident praesentium, velit voluptates reprehenderit ipsa sint! Mollitia doloremque fugit quia totam labore consequatur neque sapiente autem.</p>
        </article>
    </div>
    <div>
        


    </div>
    <div>
        <div class="second-banner">
            <article class="second-banner-text">
                <p class="banner-title">Inspiración Home Office</p>
                <p class="banner-subtitle">Trabajar desde casa puede ser un desafío...mirá algunas soluciones creativas para que pase a ser un placer</p>
                <span><a href="#" class="banner-link">MÁS INFO</a></span>
            </article>
        </div>             
    </div>
    <div>
        <p class="index-title section-three">Diseño Arte e Inspiración</p>

    </div>
</main>

    <%-include('../partials/footer')%>

</body>
</html>