<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("../partials/head")%>
    <link rel="stylesheet" href="css/index.css">
    <title>WoodStack</title>
</head>
<body>

    <%-include('../partials/header')%>

<main>
    <div class="first-banner">
        <article class="banner-text">
            <p class="banner-title">Usuario Creado con Exito !</p>
            <p class="banner-subtitle">Pronto recibiras novedades.</p>
            <span><a href="/" class="banner-link">INICIO</a></span>
        </article>
    </div>>
</main>

    <%-include('../partials/footer')%>

</body>
</html>